*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height:500px;
    border-bottom: 25px solid #21962b;
    margin: 0 auto;
    position: relative;
    overflow: hidden;  /* Tudo que sair do quadro(game-board) ficar fora da tela */
    background:linear-gradient(#87CEEB, #E0F6FF);
}

.pipe{
    position: absolute;/* Para impedir que o comportamento de uma animação não altere o da outra */
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

/* Mudar os valores aqui faz com que o objeto pipe "ande"  */
@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to {
        right: 100%;
    }
}

.mario{
    position: absolute;
    bottom: 0;
    width: 100px;
    
    
}

.jump{
    animation: jump 500ms ease-out;
}
@keyframes jump {
    0%{
        bottom: 0;
    }
    40%{
        bottom:180px;
    }
    
    50%{
        bottom:180px;
    }
    60%{
        bottom:180px;
    }

    100% {
        bottom: 0;
    }
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 6s infinite linear;
}


@keyframes clouds-animation{
  from{
    right: -800px;
  }
  to{
    right: 100%;
  }
}

.score{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 10px;
    font-size:40px;
    border: 10px;
    background: greenyellow; 
    outline: none;
} 