*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height:500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;  /* Tudo que sair do quadro(game-board) ficar fora da tela */
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

/* Mudar os valores aqui faz com que o objeto pipe "ande"  */
@keyframes pipe-animation {
    from{
        right: 0;
    }

    to {
        right: 100%;
    }
}